.grid-container
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 780px 500px 640px 420px 300px 80px;
  gap: 0 0;
  grid-template-areas: "barra-de-navegacao barra-de-navegacao barra-de-navegacao barra-de-navegacao"
                       "inicio inicio inicio inicio"
                       "sobre sobre sobre sobre"
                       "como-nos-ajudar como-nos-ajudar como-nos-ajudar como-nos-ajudar"
                       "contato contato contato contato"
                       "rodape rodape rodape rodape"
                       "creditos creditos creditos creditos";
}

.barra-de-navegacao
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "logotipo logotipo menu menu";
  grid-area: barra-de-navegacao;
}

.logotipo
{
  grid-area: logotipo;
}

.menu
{
  grid-area: menu;
}

.inicio
{
  grid-area: inicio;
}

.sobre
{
  grid-area: sobre;
}

.como-nos-ajudar
{
  grid-area: como-nos-ajudar;
}

.contato
{
  grid-area: contato;
}

.rodape
{
  grid-area: rodape;
}

.creditos
{
  grid-area: creditos;
}