:root 
{
  /* Global */
  --black: #0C0C0C;
  --blue: #0D5FEB;
  --gray-bg: #2B2E32;
  --gray-title: #464555;
  --red: #FF4E68;
  --white-bg: #FAF7FF;
  --white-text: #C9C9C9;
  --white-title: #F9F8FF;
  --white: #FFFFFF;

  /* Registro */
  --white-bg-rg: #C8C8C8;
}