p
{
    line-height: 1.5;
}

.grid-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 0;
  grid-template-areas: "avatar avatar avatar avatar"
                       "perfil perfil perfil perfil";
}

.avatar
{
  grid-area: avatar;

  align-content: baseline;
  display: grid;
  font-size: 32px;
  font-weight: 300;
  justify-items: center;
  margin-top: 4%;
}

.avatar img
{
    border-radius: 2em; 
    border: 1px solid var(--black);
    width: 8%; 
}

.avatar h4
{
    padding-top: 20px;
}

.perfil
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "descricao descricao status status";
  grid-area: perfil;
}

.perfil .descricao h2,
.perfil .status h2
{
  margin-bottom: 50px;
}

.perfil .descricao
{
  grid-area: descricao;

  font-size: 24px;
  padding: 4% 2%;
}

.perfil .status
{
  grid-area: status;

  font-size: 24px;
  padding: 4% 10%;
  text-align: left;
}

.perfil .status h2
{
  list-style: none;
}

.perfil .status button
{
  color: white;
  color: 24px;
  background-color: #FF4E68;
  border: 0;
  cursor: pointer;
  width: 162px;
  height: 35px;
  font-size: 24px;
}

@media (max-width: 1080px)
{
  .avatar
  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
  }

  .descricao
  {
    width: 100%;
    margin: 0 auto;
    order: 3;
  }

  .descricao h2
  {
    text-align: center;
  }

  .status
  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
