*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

:root {
    --white:#FFFFFF;
    --black:#0C0C0C;
    --red:#FF4E68;
    --blue: #0D5FEB;
    --gray-title: #464555;
    --white-title:#F9F8FF;
    --white-text:#C9C9C9;
    --white-bg:#FAF7FF;
    --gray-bg:#2B2E32;
}

@media (min-width: 1440px){
    html {
        font-size: 110%;
    }
}
@media (min-width: 1800px){
    html {
        font-size: 140%;
    }
}
@media (max-width: 1080px){
    html {
        font-size: 93.75%;
    }
    
}
@media screen and (max-width: 720px){
    html {
        font-size: 87.5%;
    }

    #header{
        background-size: auto 100%;
        min-height: 500px;
    }
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

h1,h2,h3,h4, a, button, input {font-family:"Fira Sans"}

p, span {font-family:'Open Sans';}

.container-min{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

h2.titulo, legend.titulo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/* Inicio do site */
header#header {
    height:100vh;
    width:100%;
    background: url('../images/banner.png') no-repeat ;
    background-size: 100% 100%;
}

#header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

#header header .logo a {
    font-size: 2rem;
    transition: font-size 1s;
    color: var(--black);
}

#header header .logo a:hover {
    font-size:2.15rem;
}

#header header .desktop ul {
    display: flex;
    align-items: center;
}

#header header .desktop ul li {
    margin-left: 2rem;
}

#header header .desktop ul li a {
    color: var(--black);
    font-size: 1.5rem;
    transition: font-size 1s;
}

#header header .desktop ul li a:hover {
    font-size:1.8rem;
}

#header header .mobile {
    display: none;
}

#header header .mobile ul {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: var(--gray-bg);
}

#header header .mobile ul li a {
    width: 100%;
    padding: 1.25rem 0;
    display: inline-block;
    border-bottom: 1px solid var(--black);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#header header .mobile ul li a:hover {
    background: rgba(0, 0, 0, .2);
}

#header header .mobile i {
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 720px){
    #header header .mobile {
        display:block;
    }
    #header header .desktop {
        display: none;
    }
}

#header header ul li:nth-of-type(4) a {
    color:var(--red);
}
#header header ul li:nth-of-type(5) a {
    color:var(--blue);
}

#header .bannerMessage {
    width:100%;
    text-align:center;
    margin-top: 30vh;
}

#header .bannerMessage h2 {
    transition: font-size 1s;
    display: inline-block;
    text-align:left;
    font-size: 2rem;
}

#sobre, #como-nos-ajudar
{
    display: flex;
    background-color: var(--black);
    width: 100%;
    color: var(--white);
    padding: 40px 0;
}

#sobre p, #como-nos-ajudar p
{
    margin-bottom: 1.25rem;
    font-size: 1.05rem;
    color: var(--white-text);
}

#como-nos-ajudar
{
    background: linear-gradient(#000000e3, #000000d6), url('../images/criancas.png');
    background-position: unset, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
}

#como-nos-ajudar .container-min div
{
    text-align: center;
}

#como-nos-ajudar .container-min div a
{
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white-title);
    font-size: 2rem; 
    border-radius: 10px;
    padding: 0.5rem 2rem;
    display: inline-block;
    transition: font-size .4s, filter .4s;
}

#como-nos-ajudar .container-min div a:hover {
    filter: brightness(85%);
    font-size: 2.25rem;
}

#entre-em-contato {
    padding: 40px 0;
    background-color: var(--white-bg);
}

#msform {
	width: 100%;
	text-align: center;
}

#msform fieldset {
	border: 0;
}
/*inputs*/
#msform input:not([type=submit]), #msform textarea {
	padding-left: 8px;
    height: 42px;
    line-height: 42px;
	border: 1px solid var(--black);
	border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
	font-weight: 300;
	color: var(--black);
    font-size: 1rem;
}
#msform textarea {
    padding: 8px;
    min-height: 120px;
    height: 150px;
    max-height: 180px;
    resize: vertical;
    line-height: normal;
}
#msform .action-button {
	width: 300px;
	background: var(--black);
	color: var(--white);
	border: 0 none;
	border-radius: 1px;
    font-size: 20px;
	cursor: pointer;
	padding: 0.80rem 2%;
}

#msform .action-button:hover {
    background-color: var(--gray-bg);
}

/* INICIO DO FOOTER */

#top-footer {
    background-color: var(--gray-bg);
    padding: 40px 0;
}

#top-footer .container {
    display: flex;
    flex-wrap: wrap;
}

#top-footer .container > div {
    width: 33.3%;
}

#top-footer .container > div h3 {
    font-size: 1.75rem;
    color: var(--white);
    margin-bottom: 1rem;
}

#top-footer .mapa-do-site ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#top-footer .mapa-do-site ul li a {
    font-size: 1.25rem;
    color: var(--white);
}

#top-footer .mapa-do-site ul li a:hover {
    text-decoration: underline;
}

#top-footer .mapa-do-site ul li a::before{
    content: '-';
}

#top-footer .redes-sociais ul li{
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#top-footer .redes-sociais ul li a {
    color: var(--white);
    display: inline-block;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--white);
    text-align: center;
    line-height: 60px;
    transition: background-color .4s, color .4s;
}

#top-footer .redes-sociais ul li a:hover {
    background-color: var(--white);
    color: var(--black);
}

#top-footer .endereco p {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    color: var(--white);
}

#footer{
    padding: 20px 0;
    background-color: var(--black);
}

#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer p, #footer a {
    color:var(--white);
    font-size: 1.25rem;
}

#footer a:hover {
    text-decoration: underline;
}

@media (min-width: 1800px){
    #top-footer .redes-sociais ul li a {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
}

@media screen and (max-width: 850px){
    #top-footer >.container {
        text-align: center;
    }
    #top-footer >.container > div{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    #footer .container{
        flex-direction: column;
    }

    #footer .container p {
        margin-bottom: 1rem;
    }

}

/* PAGINA DE REGISTRO ************/
